<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bubun's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Bubun's blog</a></h1>
        </div>

        <div>
            <p>published: 03.06.2022, 11:05</p>
            <h2><a href="">My first post</a></h2>
            <p>
                The third summer day, <br>
                Where's <em>Bubun</em> <strong>?</strong>
            </p>
        </div>

        <div>
            <p>published: 03.06.2022, 11:09</p>
            <h2><a href="">My second post</a></h2>
            <p>He's dissapeared. Find us</p>
        </div>
    </body>
</html>